{% extends "base.html" %}
{% block title %}Logs{% endblock %}
{% block head %}Logs{% endblock %}
{% load static %}
{% block header %}<meta http-equiv="refresh" content="60" >{% endblock %}
{% block content %}

{% if files %}
<table class="w3-table w3-striped">
    <caption>LOGS</caption>
    <tr>
        <th>File</th>
    </tr>
{% for f in files %}
    <tr>
        <td><a href="read/{{ f }}">{{ f }}</a><br></td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if log %}
<table class="w3-table w3-striped">
    {% for line in log %}
        <tr>
            <td>{{ line }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
