<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Scheduler | {% block title %} {% endblock %}</title>
</head>

<header>
    {% if outcome %}
    <h1 class="w3-cyan">{{ outcome }}</h1>
    {% endif %}
    {% block header %}
    {% endblock %}
</header>

<style>
    body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
    .w3-row-padding img {margin-bottom: 12px}
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {width: 120px;background: #222;}
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {margin-left: 120px}
    /* Remove margins from "page content" on small screens */
    @media only screen and (max-width: 600px) {#main {margin-left: 0}}
    {% block style %}{% endblock %}
</style>

<body>

<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center, w3-text-white">
    <a href="/" class="logo"><span>Interoute</span></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-cyan">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
    </a>
    <a href="/jobs/" class="w3-bar-item w3-button w3-padding-large w3-hover-cyan">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>JOBS</p>
    </a>
    <a href="/agents/" class="w3-bar-item w3-button w3-padding-large w3-hover-cyan">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>AGENTS</p>
    </a>
    <a href="/tables/" class="w3-bar-item w3-button w3-padding-large w3-hover-cyan">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>TABLES</p>
    </a>
    <a href="/logs/" class="w3-bar-item w3-button w3-padding-large w3-hover-cyan">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>LOGS</p>
    </a>
    <a href="/logout/">logout</a>
</nav>

<div class="w3-container" id="main">
    {% block content %}
    {% endblock %}
</div>
</body>

<footer>
    {% block foot %}
    {% endblock %}
</footer>
</html>