{% extends "base.html" %}
{% block title %}Scheduler{% endblock %}
{% block head %}Scheduler{% endblock %}
{% load static %}
{% block content %}

<p>Welcome to Job Scheduler GUI</p>
<p>Scheduler <b>Status:</b> {{ status }} <a href="/restart/">reload now</a><br> <b>Version </b>{{ version }}</p>

<div class="w3-container w3-display-topright">
    <p>This is the web GUI for the python based JobScheduler</p>
    <p>you can do all the same actions through this interface</p>
    <p>as you would be able to from the CLI</p>
    <p>the links below are for the documentation</p>
    <a href="https://git.irt-prod.com/product-engineering/scheduler/wikis/web-gui">Wiki</a>
    <a href="https://git.irt-prod.com/product-engineering/scheduler">Git Repo</a>
</div>

{% if inprogress %}
<div class="w3-card w3-panel" style="width:50%">
    <table class="w3-table">
        <caption>Running jobs</caption>
        <tr class="w3-cyan">
            <th>Name</th>
            <th>Start</th>
            <th>Agent</th>
        </tr>
        {% for j in inprogress %}
        <tr>
            <td>{{ j.JobName }}</td>
            <td>{{ j.Date }}, {{ j.Time }}</td>
            <td>{{ j.Agent }}</td>
        </tr>
        {% endfor %}
</table>
</div>
{% endif %}

<div class="w3-container">
    {% if complete %}
    <div class="w3-card w3-left w3-panel" style="wdith:50%">
        <table class="w3-table">
            <caption>Last 10 completed jobs</caption>
            <tr class="w3-cyan">
                <th>ID</th>
                <th>Name</th>
                <th>Start</th>
                <th>Agent</th>
                <th>Status</th>
            </tr>
            {% for c in complete %}
            <tr>
                <td>{{ c.ID }}</td>
                <td>{{ c.JobName }}</td>
                <td>{{ c.Date }}, {{ c.Time }}</td>
                <td>{{ c.Agent }}</td>
                <td>{{ c.ExitStatus }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <h1>No completed jobs</h1>
    {% endif %}

    {% if future %}
    <div class="w3-card w3-left w3-panel" style="wdith:50%">
        <table class="w3-table">
            <caption>Next 10 jobs</caption>
            <tr class="w3-cyan">
                <th>ID</th>
                <th>Name</th>
                <th>Start</th>
                <th>Command</th>
            </tr>
            {% for f in future %}
            <tr>
                <td>{{ f.ID }}</td>
                <td>{{ f.JobName }}</td>
                <td>{{ f.Date }}, {{ f.Time }}</td>
                <td>{{ f.Command }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <h1>No scheduled jobs</h1>
    {% endif %}
</div>


{% endblock %}