{% extends "base.html" %}
{% block title %}Installation{% endblock %}
{% block head %}Installation{% endblock %}
{% block content %}
<div>
<form name="InstallationForm" method="post" action=".">
    <table>
        <tr>
            <th>{{ form.workingdir.label_tag }}</th>
            <td>{{ form.workingdir }}</td>
            <th>{{ form.logsdir.label_tag }}</th>
            <td>{{ form.logsdir }}</td>
        </tr>
        <tr>
            <th>{{ form.dbhost.label_tag }}</th>
            <td>{{ form.dbhost }}</td>
            <th>{{ form.dbuser.label_tag }}</th>
            <td>{{ form.dbuser }}</td>
            <th>{{ form.dbpass.label_tag }}</th>
            <td>{{ form.dbpass }}</td>
        </tr>
        <tr>
            <th>{{ form.dbdatabase.label_tag }}</th>
            <td>{{ form.dbdatabase }}</td>
        </tr>
    </table>
    {% csrf_token %}
    <input type="submit" class="w3-btn" value="Install" />
</form>
</div>
{% endblock %}