{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}Login{% endblock %}
{% load static %}
{% block content %}

<div>
    <form name="LoginForm" method="post" action=".">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" class="w3-btn" value="login" />
    </form>
</div>

{% endblock %}