{% extends "base.html" %}
{% block title %}Agents{% endblock %}
{% block head %}Agents{% endblock %}
{% load static %}
{% block content %}

<table class="w3-table">
    <caption>AGENTS</caption>
    <tr class="w3-cyan">
        <th>Address</th>
        <th>Token</th>
        <th>Status</th>
        <th>Key</th>
        <th>Groups</th>
        <th>Options</th>
    </tr>
    {% for a in agents %}
    <tr>
        <td>{{ a.Address }}</td>
        <td>{{ a.Token }}</td>
        <td>{{ a.Status }}</td>
        <td><pre>{{ a.Pubkey }}</pre></td>
        <td>{{ a.Groups }}</td>
        {% if a.Status %}
        <td><a href="toggle/d-{{ a.Address }}">Turn Off</a>
        {% else %}
        <td><a href="toggle/e-{{ a.Address }}">Turn On</a>
        {% endif %}
        <a href="delete/{{ a.Address }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}