{% extends "base.html" %}
{% block title %}
{% if edit %}
Edit Job
{% else %}
Add Job
{% endif %}
{% endblock %}


{% block head %}
{% if edit %}
Edit Job
{% else %}
Add Job
{% endif %}
{% endblock %}

{% load static %}
{% block content %}

<div>
    <h1>Add Job Form</h1>
    <form name="AddJobForm" method="post" action=".">
        <table class="w3-table w3-border">
            <tr>
                <th width="10%">{{ form.Name.label_tag }}</th>
                <td width="15%">{{ form.Name }}</td>
                <th width="10%">{{ form.Command.label_tag }}</th>
                <td width="15%">{{ form.Command }}</td>
            </tr>
            <tr>
                <th width="10%">{{ form.Hour.label_tag }}</th>
                <td width="15%">{{ form.Hour }}</td>
                <th width="10%">{{ form.Minute.label_tag }}</th>
                <td width="15%">{{ form.Minute }}</td>
                <th width="10%">{{ form.EndHour.label_tag }}</th>
                <td width="15%">{{ form.EndHour }}</td>
                <th width="10%">{{ form.EndMin.label_tag }}</th>
                <td width="15%">{{ form.EndMin }}</td>
            </tr>
            <tr>
                <th width="10%">{{ form.RepMins.label_tag }}</th>
                <td width="15%">{{ form.RepMins }}</td>
                <th width="10%">{{ form.RepHours.label_tag }}</th>
                <td width="15%">{{ form.RepHours }}</td>
                <th width="10%">{{ form.RepDays.label_tag }}</th>
                <td width="15%">{{ form.RepDays }}</td>
                <th width="10%">{{ form.RepWeeks.label_tag }}</th>
                <td width="15%">{{ form.RepWeeks }}</td>
                <th width="10%">{{ form.RepMonths.label_tag }}</th>
                <td width="15%">{{ form.RepMonths }}</td>
            </tr>
            <tr>
                <th width="10%">{{ form.DayofWeek.label_tag }}</th>
                <td width="15%">{{ form.DayofWeek }}</td>
                <th width="10%">{{ form.IterinMonth.label_tag }}</th>
                <td width="15%">{{ form.IterinMonth }}</td>
                <th width="10%">{{ form.MaxIter.label_tag }}</th>
                <td width="15%">{{ form.MaxIter }}</td>
                <th width="10%">{{ form.DelayStart.label_tag }}</th>
                <td width="15%">{{ form.DelayStart }}</td>
                <th width="10%">{{ form.Group.label_tag }}</th>
                <td width="15%">{{form.Group }}</td>
            </tr>
        </table>
        {% csrf_token %}
        {% if edit %}
        <input type="submit" class="w3-btn" value="Edit" />
        {% else %}
        <input type="submit" class="w3-btn" value="Add" />
        {% endif %}
    </form>
</div>

{% endblock %}