{% extends "base.html" %}
{% block title %}Jobs{% endblock %}
{% block head %}Jobs{% endblock %}
{% load static %}
{% block content %}

{% for j in jobs %}
    <table class="w3-table w3-striped">
        <caption><a href="{{ j.JobName }}">{{ j.JobName }}</a></caption>
        <tr class="w3-cyan">
            <th width="50%">Command</th>
            <th width="10%">Start Time</th>
            <th width="10%">End Time</th>
            <th width="10%">Repeats</th>
            <th width="10%">Group</th>
            <th width="10%">Options</th>
        </tr>
        <tr>
            <td width="50%">{{ j.Command }}</td>
            <td width="10%">{{ j.Hour }}:{{ j.Minute }}</td>
            <td width="10%">{{ j.EndHour }}:{{ j.EndMinute }}</td>
            <td width="10%">{{ j.RepLength }} {{ j.JobType }}</td>
            <td width="10%">{{ j.Groups }}</td>
            <th width="10%"><a href="deljob/{{ j.ID }}">Delete conf</a>
            <a href="deljob/{{ j.JobName }}">Delete All</a>
            <a href="edit/{{ j.ID }}">Edit job</a></th>
        </tr>
    </table>
{% endfor %}

<a class="w3-circle w3-cyan" href="/jobs/add/">_+_</a>
{% endblock %}