{% extends "base.html" %}
{% block title %}Schedule - {{ jn }}{% endblock %}
{% block head %}Scheduler - {{ jn }}{% endblock %}
{% load static %}
{% block content %}

<table class="w3-table w3-striped">
    <tr>
        <th width="10%">Date</th>
        <th width="10%">Time</th>
        <th width="50%">Command</th>
        <th width="10%">Group</th>
        <th width="10%">Status</th>
    </tr>
    {% for s in schedule %}
    <tr>
        <td width="10%">{{ s.Date }}</td>
        <td width="10%">{{ s.Time }}</td>
        <td width="50%">{{ s.Command }}</td>
        <td width="10%">{{ s.Groups }}</td>
        <td width="10%">{{ s.JobStatus }}</td>
        {% if s.JobStatus != 0 %}
        <td><a href="joboff/{{ s.ID }}">Turn off</a></td>
        {% else %}
        <td><a href="jobon/{{ s.ID }}">Turn on</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    {% if schedule %}
    <tr>
        <th><a href="deljob/{{ jn }}">Delete All</a></th>
    </tr>
    {% endif %}
</table>

{% endblock %}