{% extends "base.html" %}
{% block title %}Tables{% endblock %}
{% block head %}Tables{% endblock %}
{% load static %}
{% block content %}

{% if plain %}
<table class="w3-table w3-striped">
    <caption>TABLES</caption>
    <tr>
        <td><a href="table/jobconfig">Job Config</a></td>
    </tr>
    <tr>
        <td><a href="table/scheduled_jobs">Scheduled Jobs</a></td>
    </tr>
    <tr>
        <td><a href="table/completed_jobs">Completed Jobs</a></td>
    </tr>
    <tr>
        <td><a href="table/inprogress">In Progress Jobs</a></td>
    </tr>
</table>
{% endif %}

{% if form %}
<details>
<summary>Search</summary>
<div class="w3-container w3-row w3-border">
<form class="w3-quarter" name="SearchForm" method="post" action="/tables/table/{{ table }}">
	{% for field in form %}
		<div class="fieldwrapper">
			{{ field.label_tag }} {{ field }}
		</div>
	{% endfor %}
	{% csrf_token %}
	<input type="submit" class="w3-btn" value="Search" />
</form>
</div>
</details>
{% endif %}

{% if jobconfig %}
{% for row in jobconfig %}
<table class="w3-table w3-border">
    <caption class="w3-cyan">{{ row.JobName }}</caption>
    <tr>
        <th>ID</th>
        <td>{{ row.ID }}</td>
        <th>Name</th>
        <td>{{ row.JobName }}</td>
        <th>Command</th>
        <td>{{ row.Command }}</td>
    </tr>
    <tr>
        <th>Start</th>
        <td>{{ row.Hour }}:{{ row.Minute }}</td>
        <th>End</th>
        <td>{{ row.EndHour }}:{{row.EndMinute }}</td>
    </tr>
    <tr>
        <th>RepMins</th>
        <td>{{ row.RepMinutes }}</td>
        <th>RepHours</th>
        <td>{{ row.RepHours }}</td>
        <th>RepDays</th>
        <td>{{ row.RepDays }}</td>
        <th>RepWeeks</th>
        <td>{{ row.RepWeeks }}</td>
        <th>RepMonths</th>
        <td>{{ row.RepMonths }}</td>
    </tr>
    <tr>
        <th>DayofWeek</th>
        <td>{{ row.DayofWeek }}</td>
        <th>IterinMonth</th>
        <td>{{ row.IterinMonth }}</td>
        <th>MaxIter</th>
        <td>{{ row.MaxIter }}</td>
        <th>DelayStart</th>
        <td>{{ row.DelayStart }}</td>
        <th>Group</th>
        <td>{{ row.Groups }}</td>
    </tr>
</table>
{% endfor %}
{% endif %}

{% if schedjobs %}
<table class="w3-table w3-striped">
    <caption class="w3-cyan">Scheduled Jobs</caption>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start</th>
        <th>Command</th>
        <th>Status</th>
        <th>Group</th>
    </tr>
    {% for row in schedjobs %}
    <tr>
        <td>{{ row.ID }}</td>
        <td>{{ row.JobName }}</td>
        <td>{{ row.Date }}:{{ row.Time }}</td>
        <td>{{ row.Command }}</td>
        <td>{{ row.JobStatus }}</td>
        <td>{{ row.Groups }}</td>
        <td><a href="/tables/delete/scheduled_jobs/{{ row.ID }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if compjobs %}
<table class="w3-table w3-striped">
    <caption class="w3-cyan">Completed Jobs</caption>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Time</th>
        <th>Status</th>
    </tr>
    {% for row in compjobs %}
    <tr>
        <td>{{ row.JobID }}</td>
        <td>{{ row.JobName }}</td>
        <td>{{ row.Date }}:{{ row.Time }}</td>
        <td>{{ row.ExitStatus }}</td>
        <td><a href="/tables/delete/completed_jobs/{{ row.ID }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if inprog %}
<table class="w3-table w3-striped">
    <caption class="w3-cyan">Jobs In Progress</caption>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start</th>
        <th>Agent</th>
    </tr>
    {% for row in inprog %}
    <tr>
        <td>{{ row.ID }}</td>
        <td>{{ row.JobName }}</td>
        <td>{{ row.Date }}:{{ row.Time }}</td>
        <td>{{ row.Agent }}</td>
        <td><a href="/tables/delete/inprogress/{{ row.ID }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
